name: build
on: [push, pull_request]
jobs:
  build:
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        include:
          - os: ubuntu-22.04
            mariadb-version: "11.0"
          - os: ubuntu-22.04
            mariadb-version: 10.11
          - os: ubuntu-22.04
            mariadb-version: "10.10"
          - os: ubuntu-22.04
            mariadb-version: 10.9
          - os: ubuntu-20.04
            mariadb-version: "11.0"
          - os: ubuntu-20.04
            mariadb-version: 10.11
          - os: ubuntu-20.04
            mariadb-version: "10.10"
          - os: ubuntu-20.04
            mariadb-version: 10.9
          - os: ubuntu-20.04
            mariadb-version: 10.6
          - os: ubuntu-20.04
            mariadb-version: 10.5
          - os: macos-12
            mariadb-version: "11.0"
          - os: macos-12
            mariadb-version: 10.11
          - os: macos-12
            mariadb-version: "10.10"
          - os: macos-12
            mariadb-version: 10.9
          - os: macos-12
            mariadb-version: 10.6
          - os: macos-12
            mariadb-version: 10.5
          - os: macos-12
            mariadb-version: 10.4
          - os: macos-11
            mariadb-version: "11.0"
          - os: macos-11
            mariadb-version: 10.11
          - os: macos-11
            mariadb-version: "10.10"
          - os: macos-11
            mariadb-version: 10.9
          - os: macos-11
            mariadb-version: 10.6
          - os: macos-11
            mariadb-version: 10.5
          - os: macos-11
            mariadb-version: 10.4
          - os: windows-2022
            mariadb-version: "11.0"
          - os: windows-2022
            mariadb-version: 10.11
          - os: windows-2022
            mariadb-version: "10.10"
          - os: windows-2022
            mariadb-version: 10.9
          - os: windows-2022
            mariadb-version: 10.6
          - os: windows-2022
            mariadb-version: 10.5
          - os: windows-2022
            mariadb-version: 10.4
          - os: windows-2019
            mariadb-version: "11.0"
          - os: windows-2019
            mariadb-version: 10.11
          - os: windows-2019
            mariadb-version: "10.10"
          - os: windows-2019
            mariadb-version: 10.9
          - os: windows-2019
            mariadb-version: 10.6
          - os: windows-2019
            mariadb-version: 10.5
          - os: windows-2019
            mariadb-version: 10.4
    steps:
      - uses: actions/checkout@v3
      - uses: ./.
        with:
          mariadb-version: ${{ matrix.mariadb-version }}
          database: testdb
      - run: mysql --version
      - run: mysql -e 'SELECT VERSION()'
      - run: mysql -e 'SELECT CURRENT_USER()'
      - run: mysql -e 'SELECT DATABASE()'
      - run: mysql -e "SHOW VARIABLES LIKE 'socket'"
      - run: mysqladmin create testdb2
      - run: mysql -D testdb -e 'SELECT DATABASE()'
